body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #343434;
  margin-left: 20%;
  margin-right: 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  color: rgb(248, 234, 157);
  font-size: 40px;
  font-weight: bold;
  font-family: "Poetsen One", sans-serif;
}

.subTitle {
  color: white;
  font-family: "Poetsen One", sans-serif;
}